/* The code below centers the text of all h1's on the page. */
* {
    font-family: Aclonica, AR One Sans;
    font-size: 18px;
}

.header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

body {
    background-image: linear-gradient(to bottom,rgb(255, 255, 255), rgb(88, 82, 82));
}


h1 {
    text-align:center;
    font-size: 50px;
}

/* The code below centers all images on the page and gives them a width of 400px. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:300px;
  border: 2px solid black;
  border-radius: 15px;
}

img:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

/* The code below centers the text of all h2's on the page. */
h2 {
    text-align:center;
    font-size: 30px;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
    margin: 20px;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    border: 5px black solid;
    margin:5px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.section:hover {
    background-color: rgb(118, 53, 53);
    color: white;
    transition: background-color 0.4s ease;
}

li {
    margin: 10px;
    display: block;
}

footer {
    background-color: rgb(88, 82, 82);
    color: white;
    text-align: center;
    padding: 10px;
    margin: auto;
}

a {
    color: white;
}